body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
}

.boxes {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    text-align: center;
    
}

h2 {
    text-align: center;   
    margin-bottom: 50px; 
}
table{
    border-collapse: collapse;
    margin: 0 auto;
}
td {
    padding: 5px;
}

tr:nth-child(2n+2) {
    background-color: #eef7ff;
}

tr:first-child, tr:last-child {
    background-color: #427fef;
}

tr {
    border-bottom: #c4dcf3
}

.red-box {
    width: 300px;
    height: 300px;
    background-color: tomato;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: lightgrey 10px 10px;
}

.navigation {
    background-color: black;
    color: white;
    padding: 50px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 150px;
    padding-inline-start:0;
}
li {

}
@media only screen and (min-width: 768px) {
    ul {
        flex-direction: row;
        justify-content: flex-end;

        height: auto;
        width: 100%;
        padding-inline-start:0;
    }
    li {
        margin-left: 15px;
    }
}